.menu 
{
  width: 202px;
  height: 282px;
  background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
border-radius: 5px;
margin-left: 132px;
}

.menuTitle
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 0.5px;
}